/* General styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  background-color: #123332;
  color: #FFD9BE;
  padding: 20px 0; /* Increase padding for better spacing */
  position: relative; /* Position relative for absolute positioning of elements */
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for better alignment */
  justify-content:right; 
  align-items: center; /* Center items vertically */
}

.nav-links li {
  margin-right: 5px; /* Adjust spacing between items */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove margin from last item */
}

.nav-links li a {
  color: #FFD9BE;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px; /* Adjust padding for buttons */
  border-radius: 5px; /* Add rounded corners to buttons */
  transition: background-color 0.3s; /* Add smooth transition effect */
  position: relative; /* Position relative for absolute positioning of elements */
}

.nav-links li a:hover {
  background-color: #0a7a8c; /* Darken background color on hover */
}

/* Crazy hover styles for buttons */
.nav-links li a:hover::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #FFD9BE;
  z-index: -1;
  border-radius: 10px;
}

.search-form {
  margin-left: auto;
  position: relative; /* Position relative for absolute positioning of elements */
}

.search-form input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.search-form button {
  padding: 2px;
  border: none;
  background-color: transparent;
  color: #FFD9BE;
  position: absolute;
  right: 10px; /* Align to the right */
}

footer {
  background-color: #123332;
  color: #ff9696;
  text-align: center;
  padding: 20px 0;
}

.messages {
  list-style-type: none;
  padding: 0;
}

.messages li {
  margin-bottom: 10px;
}

/* Delivery Section Styles */

.delivery-section {
  margin-top: 50px;
  padding: 40px 0;
  background-color: #f8f9fa;
}

.delivery-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #123332;
  margin-bottom: 30px;
}

.feature-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.feature-box h3 {
  font-size: 1.5rem;
  color: #0a7a8c;
  margin-bottom: 15px;
}

.feature-box .feature-image {
  margin-bottom: 15px;
}

.feature-box .feature-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.feature-box p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
