/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f0f0f0; /* Light gray background */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar styles */
.navbar {
  background-color: #123332; /* Dark teal */
  color: #FFD9BE; /* Light beige */
  padding: 15px 0;
  position: relative;
}

.navbar-brand {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.nav-links li {
  margin-right: 8px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #FFD9BE;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 10px;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.nav-links li a:hover {
  background-color: #0a7a8c; /* Dark teal hover */
  color: #f8ac76; /* Light orange */
  transform: translateY(-3px) scale(1.05);
}

.nav-links li a:hover::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #FFD9BE; /* Light beige */
  z-index: -1;
  border-radius: 10px;
  transform: scale(1.2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.search-form {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.search-form button {
  padding: 10px;
  border: none;
  background-color: #0a7a8c; /* Dark teal */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.search-form button:hover {
  background-color: #14cce9; /* Light teal */
  transform: translateY(-3px) scale(1.05);
}

.search-form input[type="text"]:focus {
  border: 2px solid #0a7a8c; /* Dark teal */
  box-shadow: 0 0 5px rgba(10, 122, 140, 0.5);
}

/* Main content sections */
.about-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.about-image {
  max-width: 100%;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission-vision-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mission-section,
.vision-section {
  flex-basis: 48%;
}

.values-section {
  margin-bottom: 40px;
}

.values-section h2 {
  margin-bottom: 20px;
}

.values-section ul {
  list-style: none;
  padding: 0;
}

.values-section ul li {
  margin-bottom: 10px;
}

.team-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.team-image {
  max-width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-image {
  max-width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section a {
  color: #0a7a8c; /* Dark teal */
  text-decoration: underline;
}

.contact-section a:hover {
  color: #14cce9; /* Light teal */
}

/* Footer styles */
.footer {
  background-color: #123332; /* Dark teal */
  color: #FFD9BE; /* Light beige */
  padding: 40px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #FFD9BE; /* Light beige */
}

.footer-section p,
.footer-section ul,
.footer-section li,
.footer-section a {
  font-size: 1rem;
  color: #FFD9BE; /* Light beige */
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section .social-links a {
  margin: 0 10px;
  color: #FFD9BE; /* Light beige */
  font-size: 1.2rem;
}

.footer-section .social-links a:hover {
  color: snow;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

/* Font Awesome Integration */
.fas,
.fab {
  margin-right: 10px;
}
