/* product_detail.css */

/* Overall layout */
.product-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.product-images {
  flex: 1;
}

.product-info {
  flex: 2;
  margin-left: 20px;
}

/* Product images */
.product-images h2 {
  color: #441709ff; /* Dark brown */
  font-size: 24px;
}

.product-images ul {
  list-style: none;
  padding: 0;
}

.product-images ul li {
  margin-bottom: 10px;
}

.product-images img {
  width: 100%;
  height: auto;
  border: 2px solid #1f7135cc; /* Dark green */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.product-images img:hover {
  transform: scale(1.05);
}

/* Product info */
.product-info h1 {
  color: #EF9C82; /* Light salmon */
  font-size: 28px;
}

.product-info p {
  color: #000; /* Black */
  font-size: 18px;
  margin-bottom: 10px;
}

.product-info .description {
  color: #441709ff; /* Dark brown */
}

.product-info .price {
  color: #52a46899; /* Light green */
  font-weight: bold;
}

.product-info .availability {
  color: #1f7135cc; /* Dark green */
}

.product-info .seller {
  color: #441709ff; /* Dark brown */
}

.product-info .average-rating {
  color: #EF9C82; /* Light salmon */
}

.product-info .total-ratings {
  color: #441709ff; /* Dark brown */
}

/* Add animations and transitions */
.product-info p {
  transition: color 0.3s ease-in-out;
}

.product-info p:hover {
  color: #EF9C82; /* Light salmon */
}
