{% extends 'home/base.html' %}
{% load static %}
{% block title %}Cart - Highland Fresh{% endblock %}

{% block content %}
<div class="container">
    <h1>Cart</h1>

    {% if cart_items %}
        <ul class="cart-items">
            {% for item in cart_items %}
                <li class="cart-item">
                    <div class="product-info">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        <div class="product-details">
                            <h4>{{ item.product.name }}</h4>
                            <p>{{ item.product.description }}</p>
                            <div class="product-quantity">
                                <form method="post" action="{% url 'cart:remove_from_cart' item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="product-price">Ksh.{{ item.price }}</div>
                </li>
            {% endfor %}
        </ul>
        <div class="cart-total">
            <p>Total: Ksh.{{ total_cost }}</p>
            <form method="post" action="{% if order %}{% url 'orders:order_processing' order.id %}{% else %}#{% endif %}">
                {% csrf_token %}
                {% if order %}
                    <button type="submit" class="btn btn-primary">Place Order</button>
                    <button type="submit" class="btn btn-secondary">Edit Cart</button>
                {% endif %}
            </form>
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
