{% extends 'home/base.html' %}
{% load static %}

{% block title %}Contact Us - Highland Fresh{% endblock %}


{% block content %}
<section class="contact-section">
    <div class="container">
        <h2 class="contacthead">Contact Us</h2>
        <p>If you have any questions or inquiries, please fill out the form below or reach out to us directly at our email.</p>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'home:contact_us' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render form fields using Django template syntax -->
            <input type="submit" value="Submit">
        </form>
        <h2>Get Support</h2>
        <p>Need Support? Please fill out the form below or reach out to us directly at our email.</p>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'support:create_ticket' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
</section>
{% endblock %}
