{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Home - Highland Fresh
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="welcomeh1">Welcome to Highland-Fresh</h1>
    <p>Explore our fresh products and place your order today!</p>
    <div class="buttons">
        <a href="{% url 'products:product_list' %}" class="btn-main">Shop Now</a>
        <a href="{% url 'home:about_us' %}" class="btn-main">Learn More</a>
    </div>
</div>

<section class="container meet-farmers">
    <h2>Meet our Farmers</h2>
    <a href="{% url 'account:sellers_page' %}" class="btn-main">Meet our Farmers</a>
</section>

<section class="container product-showcase">
    <h1>Highland Produce</h1>
    <a href="{% url 'products:product_list' %}">
        <p>Go to Products</p>
    </a>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="product-card">
                <div class="product-image">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img src="{% static 'images/no_image_available.png' %}" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="product-info">
                    <h2>{{ product.name }}</h2>
                    <p class="price">Ksh {{ product.price }}</p>
                    <p class="availability">Available: {{ product.available_quantity }}</p>
                    <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary">View Details</a>
                    <form action="{% url 'products:add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <label for="quantity-{{ product.id }}">Quantity:</label>
                        <input type="number" name="quantity" id="quantity-{{ product.id }}" min="1" max="{{ product.available_quantity }}" value="1" required>
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current-page">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
        {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">Next</a>
        {% endif %}
    </div>
</section>

<section class="container new-products">
    <h2>New in Market</h2>
    <a href="{% url 'products:product_list' %}">Latest Products</a>
</section>

<section class="delivery-section">
    <div class="container">
        <h2>Speed, Quality, and Delight: Kisii's Fresh Bounty Delivered to Your Doorstep</h2>
        <div class="feature-grid">
            <div class="feature-box">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="https://5.imimg.com/data5/ANDROID/Default/2022/8/OY/FO/TZ/153591372/product-jpeg-500x500.jpg" alt="Swift Delivery">
                    </div>
                    <h3>Swift Delivery</h3>
                    <p>Our state-of-the-art logistics network and climate-controlled fleet race to deliver Kisii's freshest produce to your doorstep with unparalleled speed.</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="https://cdn.britannica.com/19/19-050-C172B321/Kenya-map-boundaries-cities-locator.jpg" alt="Nationwide Coverage">
                    </div>
                    <h3>Nationwide Coverage</h3>
                    <p>Unlock the bountiful agricultural riches of Kisii, now available in all major urban centers across Kenya through our strategically located warehouses and distribution hubs.</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="https://c8.alamy.com/comp/2R515F2/experience-the-convenience-of-fast-and-efficient-delivery-with-this-collection-of-vector-illustrations-showcasing-the-speed-reliability-and-conveni-2R515F2.jpg" alt="Timely Arrivals">
                    </div>
                    <h3>Timely Arrivals</h3>
                    <p>With real-time tracking and monitoring, we ensure your orders arrive right when you need them, keeping you informed every step of the way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
