/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #123332;
  margin: 0;
  padding: 0;
  color: #FFD9BE;
}

.container {
  max-width: 1081px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #123332;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.order-info {
  padding: 20px;
  border-radius: 10px;
}

.order-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.order-info p {
  font-size: 1rem;
  color: #123332;
  margin: 5px 0;
}

.order-info h3 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #123332;
}

.order-items {
  list-style-type: none;
  padding: 0;
}

.order-items li {
  font-size: 1rem;
  color: #FFD9BE;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.btn-primary {
  display: block;
  width: fit-content;
  margin: 20px auto 0;
  background-color: #0a7a8c;
  color: #FFD9BE;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 17px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  text-align: center;
}

.btn-primary:hover {
  background-color: #14cce9;
  color: white;
  transform: translateY(-3px) scale(1.05);
  border-radius: 17px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }

  .order-info h2 {
      font-size: 1.2rem;
  }

  .order-info p, .order-items li {
      font-size: 0.9rem;
  }

  .btn-primary {
      font-size: 1rem;
      padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  h1 {
      font-size: 1.5rem;
  }

  .order-info h2 {
      font-size: 1rem;
  }

  .order-info p, .order-items li {
      font-size: 0.8rem;
  }

  .btn-primary {
      font-size: 0.9rem;
      padding: 6px 12px;
  }
}
