{% extends 'home/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item.product.name }} - Quantity: {{ item.quantity }} - Price: Ksh.{{ item.product.price }}</li>
            {% endfor %}
        </ul>
        <p>Total Cost: Ksh.{{ total_cost }}</p>
        <input type="hidden" name="action" value="checkout">
        <button type="submit">Place Order</button>
    </form>
</body>
</html>
{% endblock %}
