/* Create Ticket Form Styles */
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #123332;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffd9be;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffd9be;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

form textarea {
  height: 150px;
  resize: vertical; /* Allows vertical resizing of textarea */
}

form .btn-primary {
  background-color: #102b09;
  color: #ffd9be;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .btn-primary:hover {
  background-color: #0056b3;
}

