{% extends 'home/base.html' %}
{%load static%}
{% block title %}Payment Success - Highland Fresh{% endblock %}

{% block content %}
<div class="container">
    <h1>Payment Successful</h1>
    <p>Your payment has been successfully processed. Thank you for your purchase!</p>
    <p>An email confirmation has been sent to your registered email address with details of your order.</p>
    <p>If you have any questions or concerns, feel free to contact our customer support team for assistance.</p>
</div>
{% endblock %}
