{% extends 'home/base.html' %}
{% load static %}

{% block title %}Change Password - Highland Fresh{% endblock %}

{% block content %}
<div class="change-password">
    <h2>Change Password</h2>
    <form method="post" class="change-password-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Change Password</button>
    </form>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/change_password.css' %}">
{% endblock %}
