{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% trans "Login" %} - Highland Fresh{% endblock %}

{% block content %}
<div class="login">
    <h2>{% trans "Login" %}</h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
    </form>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}">
{% endblock %}
