/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 24px;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Login Container Styles */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container .btn {
  background: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.login-container .btn:hover {
  background: #555;
}

/* Footer Styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Product Detail Page Styles */
.product-detail {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
}

.product-detail h1 {
  text-align: center;
  color: #1f7135cc;
  margin-bottom: 1rem;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-description,
.product-images {
  width: 100%;
  margin-bottom: 1rem;
}

.product-description p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.product-images ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-images li {
  flex: 1 1 calc(33.333% - 1rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.product-images img {
  width: 100%;
  height: auto;
  display: block;
}

/* Search and Sort Styles */
.sort-options {
  margin-bottom: 1rem;
}

.sort-options form {
  display: flex;
  align-items: center;
}

.sort-options select,
.sort-options button {
  margin-left: 0.5rem;
}
