
/* Edit Profile Page Specific Styles */

.edit-profile {
  margin-top: 50px;
}

.edit-profile h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #123332;
  margin-bottom: 30px;
}

.edit-profile form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-profile form input[type="text"],
.edit-profile form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.edit-profile form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0a7a8c;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-profile form button:hover {
  background-color: #123332;
}
