{% extends 'home/base.html' %}
{% load static %}
{% block title %}Create/Edit Product - Highland Fresh{% endblock %}

{% block content %}
<section class="product-form-section">
    <div class="container">
        <h2>Create/Edit Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ product_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/product_form.css' %}">
{% endblock %}
