{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'home/css/product_detail.css' %}">
</head>
<body>
    <div class="product-detail">
        <div class="product-images">
            <h2>Product Images</h2>
            <ul>
                {% for image in product.images.all %}
                <li><img src="{{ image.image.url }}" alt="{{ product.name }} image"></li>
                {% endfor %}
            </ul>
        </div>
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="description">Description: {{ product.description }}</p>
            <p class="price">Price: ${{ product.price }}</p>
            <p class="availability">Available Quantity: {{ product.available_quantity }}</p>
            <p class="seller">Seller: {{ product.seller }}</p>
            <p class="average-rating">Average Rating: {{ product.average_rating }}</p>
            <p class="total-ratings">Total Ratings: {{ product.total_ratings }}</p>
            <!-- Add more product details as needed -->
            <!-- You can include more information like product dimensions, weight, etc. -->
        </div>
    </div>
</body>
</html>
