/* Base styles from your design guidelines */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #123332;
  color: #FFD9BE;
  padding: 20px 0;
  position: relative;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right; /* Adjusted from 'justify-content:right;' */
  align-items: center;
}

.nav-links li {
  margin-right: 5px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #FFD9BE;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
}

.nav-links li a:hover {
  background-color: #0a7a8c;
}

.nav-links li a:hover::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #FFD9BE;
  z-index: -1;
  border-radius: 10px;
}

.search-form {
  margin-left: auto;
  position: relative;
}

.search-form input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.search-form button {
  padding: 2px;
  border: none;
  background-color: transparent;
  color: #FFD9BE;
  position: absolute;
  right: 10px;
}

footer {
  background-color: #123332;
  color: #ff9696;
  text-align: center;
  padding: 20px 0;
}

/* Specific styles for Payment Failure page */

.container {
  text-align: center;
}

.container h1 {
  color: #123332;
  font-size: 2rem;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}
