{% extends 'home/base.html' %}
{% load static %}

{% block title %}Notifications - Highland Fresh{% endblock %}

{% block content %}
<div class="notifications">
    <h1>Notifications</h1>
    <ul>
        {% for notification in notifications %}
            <li{% if notification.is_read %} style="color: grey;"{% endif %}>
                {{ notification.message }}
                <a href="{% url 'notifications:mark_as_read' notification.id %}">Mark as Read</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'notifications/css/notifications.css' %}">
{% endblock %}
